.productItem {
    text-align: center;
}

.compra {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    padding: 10px;
}

.title {
    font-size: 30px;
    text-decoration: none;
    color: #9A031E;
    padding-left: 20px;
    font-family: 'Lemon', serif;
}