.contenedor {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.fila {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.tarjeta {
  border: 1px solid #000000;
  border-radius: 8px;
  width: 200px;
  height: 150px;
  margin: 10px;
  flex: 1;
  background-image: url(../../../resouces/nodisponible.png);
}