.navLinks {
    list-style: none;
    display: flex;
}
  
.navLinks li {
    margin-right: 20px;
}
  
.navLinks li:last-child {
    margin-right: 0;
}
  
.navLink {
    text-decoration: none;
    color: #000;
}  